body {
  margin: 20px;
  padding: 20px;
}


#headtitle {
  display: table-cell;
  width: auto;
  font-size: 3em;
}


#headtoolbar {
  display: table-cell;
  width: 1px;
  vertical-align: bottom;
  font-size: 3em;

}


#inp_toolbar {
  width:50%;
}

#out_toolbar {
  width:50%;
}

#inp {
  width:50%;
}

#slider {
  display: none;
}

#out {
  width:50%;
}
}