<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css" type="text/css" />
  <link rel="stylesheet" href="big.css" type="text/css" />
  <link rel="stylesheet" href="small.css" type="text/css" />
  <title>LensModellingTool</title>
</head>
<body>
  <div id="outer_table" class="layout table strech rounded_top rounded_bottom">

    <div class="layout row">
      <div id="head" class="layout table rounded_top">
        <div id="headtitle" class="layout cell">
          blabla blablaaaabl blablaaa this is the big title
        </div>
        <div id="headtoolbar" class="layout cell centered">
          headtoolbar
        </div>
      </div>
    </div>
  
    <div class="layout row">
      <div id="toolbars" class="layout table fixed">
        <div id="inp_toolbar" class="layout cell centered">
          inptoolbar that can overflow in the worst case
        </div>
        <div id="out_toolbar" class="layout cell centered">
          outtoolbar
        </div>
      </div>
    </div>
    
    <div class="layout row strech">
      <div id="main" class="layout table strech fixed">
          <div id="inp" class="layout cell">
            inp
          </div>
          <div id="slider" class="layout cell">
            slide
          </div>
          <div id="out" class="layout cell">
            out
          </div>
      </div>
    </div>
    
    <div id="help" class="layout row">
      help
    </div>

    <div id="footer" class="layout row">
      foot
    </div>
  </div>

</body>
</html>