@media screen and (max-width: 980px) {

body {
  margin: 0px;
  padding: 0px;
}

#headtitle {
  display: table-row;
  height: 50px;
  font-size: 1.5em;

}

#headtoolbar {
  display: table-row;
  height: 50px;
  font-size: 1em;
}


#inp_toolbar {
  width:100%;
  z-index: 21;
}

#out_toolbar {
  width:100%;
  z-index: 20;
}

#inp {
  left: 0px;
  right: 50px;
  z-index: 21;
  width: auto;
}

#slider {
  display: block;
  width: 50px;
  z-index: 22;
}

#slider.left {left: 0px;}
#slider.right {right: 0px;}

#out {
  left: 50px;
  right: 0px;
  z-index: 20;
  width: auto;
}
}