@media screen and (max-width: 980px) {

body {
  margin: 0px;
  padding: 0px;
}

#headtitle {
  display: table-row;
  height: 50px;
  font-size: 1.5em;

}

#headtoolbar {
  display: table-row;
  height: 50px;
  font-size: 1em;
}


#inp_toolbar {
  width:100%;
}

#out_toolbar {
  display: none;
  width:100%;
}

#inp {
}

#slider {
  display: table-cell;
  width: 50px;
}

#out {
  display: none;
  width:100%;
}
}