@media screen and (min-width: 980px) {

html, body {
  min-width: 980px;
}

#toolbar1 {
  left: 0px;
  width: 50%;
}

#toolbar2{
  right: 0px;
  width: 50%;
}

#inp {
  width: 50%;
}

#out {
  width: 50%;
}

#log {
  left: 50px;
  right: 50px;
  bottom: -250px;
}

}