@media screen and (max-width: 980px) {

html, body {
  min-width: 480px;
}

#btn {
  left: 0px;
  right: 50px;
  z-index: 15;
}

#btn2 {
  left: 50px;
  right: 0px;
  z-index: 14;
}

#inp {
  right: 50px;
  z-index: 15;
}

#out {
  left: 50px;
  z-index: 14;
}

#slider {
  display: block;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 100%;
  background-color: white;
}

#log {
  left: 0px;
  right: 0px;
  bottom: -200px;
  height: 200px;
}

}