/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  display: none;
  width: 95%;
  margin: auto;
}

.topic {
  display:block;
  margin: 10px;
  padding: 5px;
  /*background-color: #ffa;*/
}

.topicgroup {
  /*background-color: #faf;*/
  /*width: 95%;*/
  margin: 10px auto;
  border-top: 1px solid gray;
}

.topicbox {
  /*background-color: #aff;*/
  color: #333;
  line-height: 130%;
}

.content {
  margin-left: 200px;
  border-left: 1px solid black;
}

/*
.topictitle {
  float: left;
  width: 180px;
  margin: 0;
  padding: 0;
}

.topictitle h3,
.topictitle h4 {
  display: inline-block;
  line-height: 1em;
  padding: 5px;
  margin: 0;
}

.topictitle h4 {
  padding-left: 30px;
}

.topictitle h4:before {
  content: "\25B6  "
}
*/
h2 {
  margin: 0em 0em 0em 1em;
}


h3, h4 {
  display: inline-block;
  float: left;
  width: 180px;
  margin: 0;
  padding: 0;

  line-height: 1em;
  padding: 5px;
  margin: 0;
}

h4 {
  padding-left: 20px;
}

h4:before {
  content: "\25B6  ";
}

.ezy>h3, .ezy>h4,
.adv>h3, .adv>h4,
.exp>h3, .exp>h4 {
  cursor:not-allowed;
}


/*.topictext {*/
.topicbox > div,
.topicbox > p,
.topicbox > ul,
.topicbox > ol {
  margin: 0px 0px 0px 220px;
  padding: 1em 5px 0.5em 5px;
  border-left: 1px solid gray;
  overflow: hidden;
}

ul, ol {
  padding-left: 30px !important;
}

/*
ul.action {
  list-style:none;
}

ul.action >li:before {
  content: "\25B6";
  margin: 0 -1em 0 -2em;
}
*/

/* general purpose links use like anchors to show add tpoicboxes */
i {
  font-style: normal;
  text-decoration: underline;
  cursor: help;
}

/*
i:before {
  content:"[ ";
}
i:after {
  content:" ]";
}
*/

/* special purpose links, uniquly programmed */
u {
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}
/*
u:before {
  content:"[ ";
}
u:after {
  content:" ]";
}
*/

/* regular links */
a {
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}
a:before {
  content:"\2197 ";
}
a:after {
  content:"";
}


.ezy {
}
.adv {
  background-color:#ffd;
}
.exp {
  background-color:#fdd;
}

/*correction for p inside topictext div*/
.topicbox > div > p {
  margin: 0;
  padding: 0;
}

.topicbox > div > img {
  margin: 4px;
  width: 300px; /*standart setting, can be overwritten by big/small class*/
}

img.left {
  float: left;
}

img.right {
  float: right;
}

img.clear {
  clear: both;
}

img.big {
  width: 500px !important;
}

img.small {
  width: 100px !important;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
