body {
  margin: 0px;
  padding: 5px;
}


/*only have rounded edges in big screen*/
.rounded_top {
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}

.rounded_bottom {
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
}


#headtitle {
  display: table-cell;
  width: auto;
  font-size: 1em;
}


#toolbarTop {
  display: table-cell;
  width: 250px;
  vertical-align: bottom;
  padding: 5px;
}


#toolbarInp {
  width:50%;
  left: 0px;
}

#toolbarOut {
  width:50%;
  right: 0px;
}

#inp {
  width:50%;
  left: 0px;
}

#bigslider {
  display: none;
}

#out {
  width:50%;
  right: 0px;
}


#log {
  /*left: 50px;
  right: 50px;*/
  bottom: -50px;
}