/*******************************************************
  basic page layout / arrangement styles
 *******************************************************/

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 600px;
  background-color: #fff;
}


body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ff0;
  min-height: 600px;
}




.layout.table {
  display: table;
  width: 100%;
}
.layout.table.fixed {
  table-layout: fixed;
}
.layout.table.strech {
  height: 100%;
}

.layout.row {
  display: table-row;
  height: 1px;
  width: 100%
}
.layout.row.strech {
  height: auto;
}

.layout.cell {
  display: table-cell;
}
.layout.centered {
  text-align: center;
}


.layout.fillbox {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.layout.block {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
}


#outer_table {
  background-color: #aaa;
}


#head {
  background-color: #f00;
}


#headtitle {
  background-color: #f33;
}

#toolbarTop {
  background-color: #fcc;
}


#toolbars {
  background-color: green;
  min-height: 60px;
}

#toolbarInp {
  background-color: #3f3;
}

#toolbarOut {
  background-color: #cfc;
}



#main {
  background-color: #00f;
}

#inp {
  background-color: #55f;
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}

#bigslider {
  background-color: #0ff;
}


#out {
  background-color: #aaf;
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}

#help {
  background-color: #ff0;

  display: none;
  height: 50px;
}

#footer {
  /*background-color: #aa7;*/
  height: 50px;
  font-size: 0.75em;
}

#log {
  display: none;
  position: absolute;
  height: 200px;
  
  background-color: lime;
  font-size: 75%;
  font-family: "Courier New", "Lucida Console";
}









































/*************************************************************************
 * 	the output image slides
 */

.slide {
  background-color:#FF00FF;
  display: block;
  width: 100%;
  height: 100%;
}

.slide_img {
	max-height:100%;
	max-width:100%;
}

.slide_caption {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	height: 50px;
	z-index: 85;
	background: rgba(255, 255, 0, 0.8); /*slightly transparent*/
	border-bottom-left-radius: 4px; 
	border-bottom-right-radius: 4px; 
}


/**********************************************
 * Color settings popup 
 */
.settings_channelcontainer {
  position: relative;
  min-width: 400px;
  height: 100px;
  overflow: hidden;
}


.settings_channelcontainer .ui-button {
	margin: 0px 20px;
	width: 70px;
}


.slider {
  margin: 5px 20px 10px;
}



/****************
 * display settings dialog 
 */

#dsettings {
	margin-top: 10px;
}


/************
 * Color settings dialog
 */

#cd_table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cd_row {
  display: table-row;
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}

.cd_cell {
  display: table-cell;
  vertical-align: middle;
}

/* outer cells */

.cd_cell_name {
  width: 70px;
  text-align: center;
}

.cd_cell_sliders {
  width: auto;
}

.cd_cell_cp {
  width: 100px;
  text-align: center;
}

/* inner table */
.cd_i_table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cd_cell_icon {
  width: 40px;
  text-align: center;
}

.cd_cell_slider {
}

.cd_cell_value {
  width: 50px;
  text-align: center;
}

/* special elements */
.cd_cell > i {
  margin: auto !important;
}

.cd_cell > p {
  margin: 00px 0px;
}

.cd_cell_cp > input {
  width: 80px;
}



#cod_table {
  display: table;
  table-layout: fixed;
  width: 100%;
}


/*******************************************************
  single text elements styling
 *******************************************************/

#logtitle {
  font-weight: bolder;
  margin: 0.5em 0.5em 0em 0.5em;
  
  border-bottom-style: dotted;
  border-width: 1px;
}

#logcont {
  margin: 0em 1.5em 0em 1.5em;
  padding: 0px 0px 0px 3px;
  border-left-style: dotted;
  border-width: 1px;
}

h1 {
  padding: 20px;
  margin: 0px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/* to override jqueryui icons for font icons */
[class^="icon-"],
[class*=" icon-"] {

/*  background: none !important;*/
  background-image: none !important;
  text-indent: 0 !important;
  margin-left: -10px !important;
  margin-top: -10px !important;

  font-size: 1.2em;
  font-weight: normal !important;
}



/*********************
 *new toolbars 
 */
.toolbar {
	display: inline-block;
	padding: 3px 13px 3px 10px;
	margin-top: 5px;
}

.toolbarContainer {
  position: absolute;
  top: 0px;
  height: 60px;
  text-align:center;
  background: #333333;
}

.initHidden {
  display: none;
  visibility:hidden;
}


.dashed {
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}
