/*******************************************************
  basic page layout / arrangement styles
 *******************************************************/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 600px;
  background-color: black;
}

#doc {
  /*height: 100%;*/
  position: absolute;

  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#top {
  display: table;
  height: 100px;
  width: 100%;
  background-color: #808080;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}

#cont {
  position: absolute;
  top: 100px;
  bottom: 50px;
  width: 100%;
  background-color: black;
}

#main {
  height: 100%;
  position: relative;
  /*background-color: magenta;*/
  min-height: 400px;
}

/*
#toolbar1 {
  background-color: orange;
}

#toolbar2 {
  background-color: red;
}
*/

#inp {
  position: absolute;
  top: 60px;
  left: 0px;
  bottom: 0px;
  background-color: black;
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}

#out {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  /*background-color: blue;*/
  background-color: black;
  border-color: #333333;
  border-style:dashed;
  border-width:1px;
}

#slider {
  position: absolute;
  display: none; /* will be displayed in small mode*/
  z-index: 99;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  
  background-color: #333333;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 

  font-size: 75%;
}

#log { 
  position: absolute;
  height: 200px;
  
  background-color: lime;
  font-size: 75%;
  font-family: "Courier New", "Lucida Console";
}

#popup {
  /* will only be displayed on mouse over events at that specific location*/
  display: none; 
  position: absolute;

  z-index: 100;
  max-width: 200px;

  padding: 20px;
  border: solid;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.8); /*slightly transparent*/
}

#popup.left {
	border-top-left-radius: 0px;
}

#popup.right {
	border-top-right-radius: 0px;
}



#svgroot {
}



/*************************************************************************
 * 	the output image slides
 */

.slide {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align:center;
}

.slide_img {
	max-height:100%;
	max-width:100%;
}

.slide_caption {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	height: 50px;
	z-index: 85;
	background: rgba(255, 255, 255, 0.8); /*slightly transparent*/
	border-bottom-left-radius: 4px; 
	border-bottom-right-radius: 4px; 
}


/**********************************************
 * Color settings popup 
 */
.settings_channelcontainer {
  position: relative;
  min-width: 400px;
  height: 100px;
  overflow: hidden;
}


.mycp {
	margin: 5px 20px;
	height: 30px;
	width: 70px;
	border: none;
}

.settings_channelcontainer .ui-button {
	margin: 0px 20px;
	width: 70px;
}


.slider {
  margin: 20px;
}



/****************
 * display settings dialog 
 */

#dsettings {
	margin-top: 10px;
}


/*******************************************************
  single text elements styling
 *******************************************************/

#logtitle {
  font-weight: bolder;
  margin: 0.5em 0.5em 0em 0.5em;
  
  border-bottom-style: dotted;
  border-width: 1px;
}

#logcont {
  margin: 0em 1.5em 0em 1.5em;
  padding: 0px 0px 0px 3px;
  border-left-style: dotted;
  border-width: 1px;
}

h1 {
  padding: 20px;
  margin: 0px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

/* to override jqueryui icons for font icons */
[class^="icon-"],
[class*=" icon-"] {

/*  background: none !important;*/
  background-image: none !important;
  text-indent: 0 !important;
/*  padding: 0em 0 0 0.2em !important; */

  font-size: 0.8em;

}



/*********************
 *new toolbars 
 */
.toolbar {
	display: inline-block;
	padding: 3px 13px 3px 10px;
	margin-top: 5px;
}

.toolbarContainer {
  position: absolute;
  top: 0px;
  height: 60px;
  text-align:center;
  background: #333333;
}

.initHidden {
  visibility:hidden;
}
