/* SVG elements */
.extremalpoint.min {
	fill: green;
}

.extremalpoint.max {
	fill: blue;
}

.extremalpoint.sad {
	fill: #ffff00;
}

.contourpoint {
	fill: #ff00ff;
}

.connectorline {
	stroke: #ff00ff;
	/*stroke-width:3;*/
}

.contourpath {
	stroke: #ff00ff;
	fill: none;
	/*stroke-width: 3;*/
}


.ruler.mid {
	r: 7;
	fill: white;
}

.ruler.circ {
	fill: none;
	stroke: white;
}

.ruler.handle {
	fill: #ffaaaa;
}


.ext_mass.mid {
	fill: gray;
}

.ext_mass.circ {
	fill: none;
	stroke: gray;
}

.ext_mass.handle {
	fill: #00a;
}


.crosshair {
  stroke: #ff0000;
}


/* use this class for elements that are not active */
.inactive {
  opacity: 0.3;
}

/* elements that should not be visible but still clickable */
.almostinvis{
  opacity: 0.01;
}

/* use this class for elements that are not displayed */
.invisible {
	visibility: hidden;
}