/* SVG elements */
.extremalpoint_min {
	fill: green;
}

.extremalpoint_max {
	fill: blue;
}

.extremalpoint_sad {
	fill: yellow;
}

.contourpoint {
	fill: #555555;
}

.connectorline {
	stroke: #555555;
	stroke-width:1;
}

.contourpath {
	stroke: #555555;
	fill: none;
	stroke-width: 1;
}


.ruler_mid {
	r: 7;
	fill: white;
}

.ruler_circ {
	fill: none;
	stroke: white;
}

.ruler_handle {
	fill: #ffaaaa;
}


.ext_mass_mid {
	fill: gray;
}

.ext_mass_circ {
	fill: none;
	stroke: gray;
}

.ext_mass_handle {
	fill: #00a;
}


/* use this class for elements that are not displayed */
.invisible {
	visibility: hidden;
}