


  html
  {
    height:100%;
  }

  body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 10px;
  }
  body:before {
    top: 0;
  }
  body:after {
    bottom: 0;
  }
  body {
    border-left: 10px solid #900;
    border-right: 10px solid #900;  


    height: 100%;
		margin: 0;
		/*padding: 0px;*/
		font: 85% arial, hevetica, sans-serif;
		text-align: center;
		color: #505367;
		background-color: #D6D6D6;
	}
  
  #container1
  {
    padding-top: 10px;
    height: 100%;
  }
	
	#container2
	{
		/*margin: 2.5%;*/
    height: 100%;
		width: 100%;
		text-align: left;
		background-color: red;
		border: 1px solid black;
    position: relative;
	}
	
	#output
	{
		float: right;
		width: 50%;
		height: 100px;
		background-color: yellow;
	}
	
	#inp1	
	{
		/*margin-right: 200px;*/
		/*margin-left: 20px;*/
		height: 80%;
    width: 50%;
		background-color: aqua;
    z-index: 4;
    position: relative;
	}
  
	#inp2	
	{
		/*margin-right: 200px;*/
		/*margin-left: 20px;*/
		height: 80%;
    width: 50%;
		background-color: none;
    z-index:5;
    position: absolute;
    top: 0px;
    left: 0px;
	}
	
	#log	
	{ 
    padding: 0px;
		height: 20%;
		background-color: lime;
    font-family: "Courier New", "Lucida Console";
	}
  
  #innerlog
  {
    /*margin: 5px;*/
    padding: 5px;
    border: 1px solid black;
    background-color: #090;
  
  }
  
  


/* --------------------------------------------- */

/* this is the div containing the ui layers */
#ui_area {
  width: 1200px;
  height: 600px;
  margin: 1em auto;
  text-align: left;
  border: 1px solid black;
}



/* this is the foreground layer */
#ui_svg {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

/* this represents the background layer */
#ui_bg_canvas2 {
  position: relative;
  left: 0;
  top: -606px;
  z-index: 0;
  /*display: hide;*/
  /*background-color: yellow;*/
}

#ui_img_canvas2 {
  position: relative;
  left: 600px;
  top: -606px;
  z-index: 0;
}

/* this is the debug console */
#console2 {
  width: 100%;
  background-color: #CCCCFF;
  font-family : "courier new",courier,monospace;
  font-size : 80%;
}



/* SVG elements */
.extremalpoint_min {
	fill: green;
}

.extremalpoint_max {
	fill: blue;
}

.extremalpoint_sad {
	fill: yellow;
}

.contourpoint {
	fill: #555555;
}

.connectorline {
	stroke: #555555;
	stroke-width:1;
}

.contourpath {
	stroke: #555555;
	fill: none;
	stroke-width: 1;
}


.ruler_mid {
	fill: white;
}

.ruler_circ {
	fill: none;
	stroke: white;
}

.ruler_handle {
	fill: #ffaaaa;
}


.ext_mass_mid {
	fill: black;
}

.ext_mass_circ {
	fill: none;
	stroke: black;
}

.ext_mass_handle {
	fill: #00a;
}




.xxdobtn {
	fill: #3333ff;
	fill-opacity:0.5;
}


.bg {
	fill: #aaaaaa;
	fill-opacity: 0.8;
}


/*ui elements*/
.btn {
	fill: #3333ff;
}

.btn.active {
	fill: #aaaaff;
}

/* use this class for elements that are not displayed */
.invisible {
	visibility: hidden;
}
